<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header}">
</head>
<body>

<div th:insert="~{layout :: navbar}"></div>


<div class="container">
    <div class="row justify-content-center mt-5 text-center">
        <div class="col-lg-6">
            <div class="card text-bg-dark">
                <div class="card-header">
                    <h2 class="mt-4">UEAs Compartidas</h2>
                </div>

                <div class="card-body">
                    <h5>Esta es una aplicación web dirigida a la comunidad UAM para realizar inscripción a UEAs
                        impartidas
                        en otras unidades a distancia</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="container mt-5 text-center">
                <div class="card">
                    <img src="/img/uamlerma.jpg" class="card-img fondo-opacidad" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>