<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header}" >
</head>

<body>
<!-- Navbar -->
<div th:insert="~{layout :: navbar}"></div>

<div class="container text-center mt-1">
        <div class="row justify-content-md-center">
                <div class="col-md-4">
                        <div th:if="${erro}" class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
                                <span th:text="${erro}" ></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                </div>
        </div>
</div>

<div class="container text-center mt-1">
        <div class="row justify-content-md-center">
                <div class="col-md-4">
                        <div th:if="${succ}" class="alert alert-success alert-dismissible fade show mt-5" role="alert">
                                <span th:text="${succ}" ></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                </div>
        </div>
</div>

<div class="row justify-content-center">
        <div class="col-lg-6">
                <div class="container mt-5">
                        <div class="card text-bg-dark">
                                <div class="card-header text-center">
                                        <h1>Ingresa los datos del grupo</h1>
                                </div>

                                <div class="card-body">
                                        <form th:object="${grupo}" method="post" th:accion="${grupo.claveGrupo == null ? '/grupos/add' : '/grupos/edit' + '{claveGrupo}'}">


                                                <div class="row">
                                                        <div class="form-group col-md-4">
                                                                <label for="clavegrupo" class="form-label">Clave de grupo:</label>
                                                                <input th:field="*{claveGrupo}" type="text" class="form-control" id="clavegrupo" placeholder="Ingresa la clave" required>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                                <label for="clave_uea" class="form-label">Clave de UEA:</label>
                                                                <select class="form-select" id="clave_uea" name="clave_uea" required th:field="*{uea.clave}">
                                                                        <option value=0>Selecciona una unidad</option>
                                                                        <option
                                                                                th:each="uea : ${ueas}"
                                                                                th:value="${uea.clave}"
                                                                                th:text="${uea.clave + ' ' + uea.nombre}"></option>
                                                                </select>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                                <label for="Cupo" class="form-label">Cupo en la unidad:</label>
                                                                <input type="text" class="form-control" id="Cupo" placeholder="Ingresa el cupo " required th:field="*{cupoUnidad}">
                                                        </div>
                                                </div>

                                                <br><br>

                                                <div class="row">
                                                        <div class="form-group col-md-4">
                                                                <label for="unidad" class="form-label">Unidad</label>
                                                                <select class="form-select" id="unidad" name="unidad" required th:field="*{unidad.idUnidad}">
                                                                        <option value=0>Selecciona una unidad</option>
                                                                        <option
                                                                                th:each="unidad : ${unidades}"
                                                                                th:value="${unidad.idUnidad}"
                                                                                th:text="${unidad.nombre}"></option>
                                                                </select>
                                                        </div>

                                                        <input type="hidden" id="selectedHorarios" name="selectedHorarios">

                                                        <div class="form-group col-md-4">
                                                                <label for="profesores" class="form-label">Profesor:</label>
                                                                <select class="form-select" id="profesores" name="profesor" required th:field="*{profesor.noEconomico}">
                                                                        <option value=0>Selecciona el profesor</option>
                                                                        <option
                                                                                th:each="profesor : ${usuarios}"
                                                                                th:value="${profesor.noEconomico}"
                                                                                th:text="${ profesor.noEconomico + ' ' + profesor.nombre + ' ' + profesor.apellidoPaterno + ' ' + profesor.apellidoPaterno}"></option>
                                                                </select>
                                                        </div>

                                                        <br><br><br><br>

                                                        <div class="form-group col-md-4">
                                                                <label for="salon">Salon:</label>
                                                                <select class="form-select" id="salon" name="salon" required th:field="*{salon.idSalon}">
                                                                        <option value=0> Selecciona el salon </option>
                                                                        <option
                                                                                th:each="salon : ${salones}"
                                                                                th:value ="${salon.idSalon}"
                                                                                th:text="${salon.nombre}"></option>

                                                                </select>
                                                        </div>

                                                        <div class="container mt-4">
                                                                <h3 class="text-center">Seleccione el Horario</h3>
                                                                <table class="table table-bordered text-center">
                                                                        <thead class="table-dark">
                                                                        <tr>
                                                                                <th>Hora</th>
                                                                                <th th:each="dia : ${dias}" th:text="${dia}"></th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr th:each="hora : ${horas}">
                                                                                <td th:text="${hora}"></td>
                                                                                <td th:each="dia : ${dias}" class="horario-cell">
                                                                                        <input class="form-check-input" type="checkbox"
                                                                                                th:value="${dia + ',' + hora}" th:field="*{horarioList}">
                                                                                </td>
                                                                        </tr>
                                                                        </tbody>
                                                                </table>
                                                        </div>

                                                </div>

                                                <button type="submit" class="btn btn-success text-center mt-5" th:text="${grupo.claveGrupo == null ? 'Enviar' : 'Actualizar'}">Enviar</button>

                                        </form>
                                </div>
                        </div>
                </div>
        </div>
</div>


</body>
</html>