<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="es"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{layout :: header}">
</head>
<body>

<!-- Navbar -->
<div th:insert="layout :: navbar"></div>


<div class="row justify-content-center mt-5">
    <div class="col-lg-4">
        <div class="container mt-5 text-center">
            <div class="card text-bg-dark">
                <div class="card-header">
                    <br>
                    <img src="/img/pantera.png" width="70" height="60" class="d-inline-block align-center" alt="">
                    <br><br>
                    <h1>¡Bienvenido!</h1>
                </div>

                <div class="card-body">
                    <div sec:authorize="!isAuthenticated()">
                        <h4>Regístrate o inicia sesión para acceder a todas las características</h4>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <h4>Realiza las altas a UEAs compartidas</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>