<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header}">
</head>
<body>

<!-- Navbar -->

<div th:insert="~{layout :: navbar}"> </div>

<div id="login">
    <h3 class="text-center text-white pt-5">Bienvenido</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" th:accion="@{/login}" th:object="${userLogin}" method="post">
                        <h3 class="text-center text-info">Profesor</h3>
                        <div class="form-group">
                            <label for="nombre" class="text-info">Usuario:</label><br>
                            <input placeholder="Ingresa tu correo" type="text" name="nombre" id="nombre" class="form-control" th:field="*{email}">
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input placeholder="Ingresa tu contraseña" type="text" name="password" id="password" class="form-control" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <br><input type="submit" name="ingresar" class="btn btn-info btn-md">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>