<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header}">
</head>
<body>

<!-- Navbar -->

<div th:insert="~{layout :: navbar}"> </div>

<div id="login">
    <br><br><br>
    <h3 class="text-center text-white pt-5">¡Bienvenido!</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form th:object="${userLogin}" method="post" th:accion="@{/login}">
                        <h3 class="text-center text-info">Profesor</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Usuario:</label><br>
                            <input th:field="*{email}" placeholder="Ingresa tu correo" type="text" name="nombre" id="email" class="form-control">
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input th:field="*{password}" placeholder="Ingresa tu contraseña" type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <br><input type="submit" name="ingresar" class="btn btn-info btn-md">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('loginUsuario').addEventListener('submit', async function (event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const request = await fetch('login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({email, password}),
        })

        localStorage.token = await request.text();
        window.location.href = '/';
    });
</script>

</body>
</html>