<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header}">
</head>
<body>

<!--Navbar-->
<div th:insert="~{layout :: navbar}"></div>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="container mt-5">
            <div class="card text-bg-dark">
                <div class="card-header text-center">
                    <h1>¡Bienvenidos!</h1>
                </div>

                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#profesor"
                                    type="button" role="tab" aria-controls="home" aria-selected="true">Profesores
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#alumno"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">Alumnos
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <!-- Formulario profesores -->
                    <div class="tab-pane fade show active container ml-5 mr-5 mb-3" id="profesor" role="tabpanel" aria-labelledby="home-tab">
                        <form>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="noeconomico">Número económico:</label>
                                    <input type="text" class="form-control" id="noeconomico"
                                           placeholder="Ingresa tu número económico">
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre"
                                           placeholder="Ingresa tu nombre">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="apellidopaterno">Apellido paterno:</label>
                                    <input type="text" class="form-control" id="apellidopaterno"
                                           placeholder="Ingresa tu apellido paterno">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="apellidomaterno">Apellido materno:</label>
                                    <input type="text" class="form-control" id="apellidomaterno"
                                           placeholder="Ingresa tu apellido materno">
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="email">Correo:</label>
                                    <input type="email" class="form-control" id="email"
                                           placeholder="Ingresa tu correo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputPassword1">Contraseña:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                           placeholder="Ingresa tu contraseña">
                                </div>
                            </div>

                            <br><br>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </form>
                    </div>

                    <!--Formulario Alumnos-->
                    <div class="tab-pane fade container ml-5 mr-5 mb-3" id="alumno" role="tabpanel" aria-labelledby="home-tab">
                        <form>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="noeconomico">Matricula:</label>
                                    <input type="text" class="form-control" id="matricula"
                                           placeholder="Ingresa tu matrícula">
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre"
                                           placeholder="Ingresa tu nombre">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="apellidopaterno">Apellido paterno:</label>
                                    <input type="text" class="form-control" id="apellidopaterno"
                                           placeholder="Ingresa tu apellido paterno">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="apellidomaterno">Apellido materno:</label>
                                    <input type="text" class="form-control" id="apellidomaterno"
                                           placeholder="Ingresa tu apellido materno">
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="email">Correo:</label>
                                    <input type="email" class="form-control" id="email"
                                           placeholder="Ingresa tu correo">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputPassword1">Contraseña:</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                           placeholder="Ingresa tu contraseña">
                                </div>
                            </div>

                            <br><br>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>